.cards1{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 7%;

}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    height: 30rem;
    gap: 5%;
}

.c-card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: black;
    background-color: white;
    box-shadow: 0 0 20px rgba(93, 93, 93, 0.2);
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.c-card img {
    display: flex;
    border-radius: 1rem;
    height: 15rem;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.nome {
    display: flex;
    width: 100%;
    height: 10%;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.poder {
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
}

.sonho {
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
}

.poderp{
    padding: 0.5rem;
    font-weight: bold;
}
.sonhop {
    padding: 0.5rem;
    font-weight: bold;
}

.edit_btn{

    background-color:rgb(243, 14, 14); 
    width:100px;
    display:block; 
    margin:auto;
    border-radius:4px;  
    border:0; 
    padding:0.8em 0em; 
    color:#fff; 
    font-size:1em; 
    font-family:'open_sansbold'; 
    text-align: center;
    transition: 0.3s; 
    text-decoration: none;
    
}
.edit_btn:hover{
    background-color:#333; 

}
.delete_btn{

    background-color:rgb(243, 14, 14); 
    width:100px;
    display:block; 
    margin:auto;
    border-radius:4px;  
    border:0; 
    padding:0.8em 0em; 
    color:#fff; 
    font-size:1em; 
    font-family:'open_sansbold'; 
    text-align: center;
    transition: 0.3s; 
}
.delete_btn:hover{
    background-color:#333; 
}

.botoes{
    width: 100%;
    display: flex;
    align-items: center;
    margin-right: 30%;
}